<div class="row">

	<form class="col-sm-6 m-auto"
	[formGroup]="postForm"
	(ngSubmit)="onSubmitForm()">

    <div class="form-group mt-2">
      <label for="title">Title:</label>
			<input class="form-control"
			type="text" 
			id="title"
			formControlName="title" >
		</div>
		
    <div class="form-group">
			<label for="content">Content:</label>	
			<textarea class="form-control"
			type="textarea" 
			id="content"
			formControlName="content" >
			</textarea>
		</div>
		
		<button class="btn btn-lg btn-primary btn-block mb-5"
		type="submit">
			Enregister</button>
		
	</form>
	
</div>
